<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/CustomCSS/BootstrapOverride.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Ajax.ActionLink("Home", "Main", "Home", null, new AjaxOptions {UpdateTargetId = "Output",
                                                                                                                                 InsertionMode = InsertionMode.Replace,
                                                                                                                                 HttpMethod = "GET"}, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("About", "About", "Home", null, new AjaxOptions {UpdateTargetId = "Output",
                                                                                                                                 InsertionMode = InsertionMode.Replace,
                                                                                                                                 HttpMethod = "GET"}, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Resume", "Index", "Resume", null, new AjaxOptions {UpdateTargetId = "Output",
                                                                                                                                  InsertionMode = InsertionMode.Replace,
                                                                                                                                  HttpMethod = "GET"}, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Design and Illustration", "Index", "IllustrationDesign", null, new AjaxOptions {UpdateTargetId = "Output",
                                                                                                                                  InsertionMode = InsertionMode.Replace,
                                                                                                                                  HttpMethod = "GET"}, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Ajax.ActionLink("Contact", "Contact", "Home", null, new AjaxOptions {UpdateTargetId = "Output",
                                                                                                                                 InsertionMode = InsertionMode.Replace,
                                                                                                                                 HttpMethod = "GET"}, new {@class = "nav-link"})
                </li>
            </ul>
        </div>
        <audio controls loop muted id="audio"> <!-- Muted audio is more welcome than not, as per policy changes-->
            <source src="https://actions.google.com/sounds/v1/water/waves_crashing_on_rock_beach.ogg" type="audio/ogg" />
            <source src="~/AudioFiles/waves.mp3" type="audio/mp3">
        </audio>
    </nav>
    <div class="container body-content">

        <!-- This div will be populated by each return partial view from every controller-->
        <div id="Output">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/AutoPlay.js") <!-- Shpuld play only if user has played sound on site before-->
    @RenderSection("scripts", required: false) <!-- as per standard autoplay policy changes -->
</body>
</html>
